.error-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    color: #dc3545; /* Червен цвят за грешките */
}

.error {
    font-size: 0.9em;
    color: #dc3545;
}

.sign-up-container {
    display: none; /* Скрий по подразбиране формата за регистрация */
}

.right-panel-active .sign-up-container {
    display: block; /* Покажи формата за регистрация, ако панелът е активен */
}

.right-panel-active .sign-in-container {
    display: none; /* Скрий формата за вход, ако панелът за регистрация е активен */
}


