/* Basic styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9; /* Светло сив фон за цялата страница */
}

.vehicle-detail-section-vhl{
    margin-top: 15px
}
.vehicle-detail-card-vhl{
    margin-top: 60px;
}





.vehicle-page-title-vhl,
.vehicle-page-info-title-vhl{
    color: #333; /* Тъмно сив цвят за заглавията */
    margin: 10px 0 5px;

}

.vehicle-page-layout-vhl {
  display: flex;
}

/* Left section styles */
.vehicle-left-section-vhl {
  flex: 1;
  padding: 1em;
}

.vehicle-detail-card-vhl {
  background-color: #f0f0f0; /* Запазен светло сив фон */
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Добавен лек сенки */
}

.vehicle-detail-row-vhl {
  margin-bottom: 0.5em;
}

.vehicle-detail-label-vhl {
  font-weight: bold;
  width: 150px;
  display: inline-block;
  color: #333; /* Тъмно сив цвят за етикетите */
}

/* Right section styles */
.vehicle-right-section-vhl {
  flex: 2;
  padding: 1em;
}

.vehicle-details-table-vhl {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd; /* Добавена рамка около таблицата */
}

.vehicle-details-table-vhl th,
.vehicle-details-table-vhl td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

.vehicle-details-table-vhl thead th {
  background-color: #3a7a7b; /* Основен цвят за заглавния ред */
  color: #fff; /* Бял цвят за текст в заглавния ред */
}

/* Buttons styles */
.button-vhl {
  background-color: #3a7a7b; /* Зелен цвят за бутоните */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.5em;
  cursor: pointer;
  border-radius: 5px;
}

.button-vhl:hover {
  background-color: #527b7c; /* По-тъмен зелен при ховър */
}





