{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body class="profile-page">
    {% include 'nav.html' %}

    <main class="profile-main">
        <section class="profile-header-section">
            <div class="profile-picture-wrapper">
                <img class="profile-picture-img" src="{% static 'images/profile-picture.jpg' %}" alt="Профилна снимка">
            </div>
            <div class="profile-info-wrapper">
                <h1 class="profile-name">Потребител: {{ current_user.username }}</h1>
                <p class="profile-email">Е-mail: {{ current_user.email }}</p>
            </div>
        </section>

        <section class="vehicle-overview-section">
            <h2 class="vehicle-overview-title">Служебни превозни средства</h2>
            <table class="vehicle-table">
                <thead class="vehicle-table-head">
                <tr class="vehicle-table-row header-row">
                    <th class="vehicle-table-header">Nº</th>
                    <th class="vehicle-table-header">Тип</th>
                    <th class="vehicle-table-header">Марка</th>
                    <th class="vehicle-table-header">Модел</th>
                    <th class="vehicle-table-header">Рег. номер</th>
                    <th class="vehicle-table-header">Състояние</th>
                </tr>
                </thead>
                <tbody class="vehicle-table-body">
                {% for vehicle in all_vehicles %}
                    <tr class="vehicle-table-row" onclick="window.location.href='{% url 'vehicle_details' vehicle.pk %}'"
                        style="cursor: pointer;">
                        <td class="vehicle-table-data">{{ forloop.counter }}</td>
                        <td class="vehicle-table-data">{{ vehicle.type|upper }}</td>
                        <td class="vehicle-table-data">{{ vehicle.brand|upper }}</td>
                        <td class="vehicle-table-data">{{ vehicle.model|upper }}</td>
                        <td class="vehicle-table-data">{{ vehicle.register_number|upper }}</td>
                        {% if vehicle.condition == 'АКТИВЕН' %}
                        <td class="vehicle-table-data status-active">{{ vehicle.condition|upper }}</td>
                        {% else %}
                        <td class="vehicle-table-data status-inactive">{{ vehicle.condition|upper }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="action-buttons-section">
            <a href="{% url 'add-vehicle' %}" class="btn btn-add-vehicle">Добави превозно средство</a>
            <a href="#" class="btn btn-generate-report">Генерирай отчет</a>
        </section>

    </main>
    {% include 'footer.html' %}
    </body>
{% endblock %}
