{% extends 'base.html' %}
{% load placeholder_filter %}
{% load static %}
{% block content %}
    <body>
    <div class="container {% if form_invalid %}right-panel-active{% endif %}" id="container">
        <div class="form-container sign-up-container">
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <h1>Създай профил</h1>

                <!-- Потребителско име -->
                <div>
                    {{ register_form.username|placeholder:"Потребителско име" }}
                    {% if register_form.username.errors %}
                        <ul class="error-list">
                            {% for error in register_form.username.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Имейл -->
                <div>
                    {{ register_form.email|placeholder:"Имейл" }}
                    {% if register_form.email.errors %}
                        <ul class="error-list">
                            {% for error in register_form.email.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Парола -->
                <div>
                    {{ register_form.password1|placeholder:"Парола" }}
                    {% if register_form.password1.errors %}
                        <ul class="error-list">
                            {% for error in register_form.password1.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <!-- Повторна парола -->
                <div>
                    {{ register_form.password2|placeholder:"Повтори паролата" }}
                    {% if register_form.password2.errors %}
                        <ul class="error-list">
                            {% for error in register_form.password2.errors %}
                                <li class="error">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <input type="hidden" name="register" value="1">
                <button type="submit">Регистрация</button>
            </form>
        </div>

        <div class="form-container sign-in-container">
            <form action="{% url 'index' %}" method="POST">
                {% csrf_token %}
                <h1>Вход в системата</h1>
                {{ login_form.username|placeholder:"Потребителско име" }}
                {{ login_form.password|placeholder:"Парола" }}
                <input type="hidden" name="login" value="1">
                <button type="submit">Вход</button>
            </form>
        </div>

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добре дошли!</h1>
                    <p>Въведете Вашите данни за вход</p>
                    <button class="ghost" id="signIn">Вход</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Здравейте!</h1>
                    <p>Въведете Вашите данни за регистрация</p>
                    <button class="ghost" id="signUp">Регистрация</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>Plamen Svetoslavov - Всички права върху съдържанието са запазени ©</p>
    </footer>
    </body>
    <script src="{% static 'js/signIn_signUp_form.js' %}"></script>
{% endblock %}
