{% load static %}
<nav class="navbar">
    <a href="{% url 'front-page' %}">
        <div class="navbar-logo">GTA Manager</div>
    </a>
    <button class="navbar-toggle" aria-label="Toggle navigation">
        ☰
    </button>
    <ul class="navbar-menu">
        <li class="navbar-item"><a href="{% url 'front-page' %}" class="navbar-link">Авто Парк</a></li>
        <li class="navbar-item"><a href="{% url 'freight_trains' %}" class="navbar-link">Товарни композиции</a></li>
        <li class="navbar-item"><a href="{% url 'profile-page' %}" class="navbar-link">Профил</a></li>
        <li class="navbar-item">
            <form method="POST" action="{% url 'logout' %}" class="navbar-link-form">
                {% csrf_token %}
                <button type="submit" class="navbar-link logout-btn">Изход</button>
            </form>
        </li>
    </ul>
    <script src="{% static 'js/navigationMobile.js' %}"></script>
</nav>
