{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    {% include 'nav.html' %}

    <div class="profile-container-page">
        <div class="profile-header-section">
            <div class="profile-header-content">
                <div class="profile-avatar-container">
                    <img src="{% static 'images/profile-picture.jpg' %}" alt="Avatar" class="profile-avatar-img">
                </div>
                <div class="profile-header-details">
                    <h1 class="profile-title-heading">{{ current_user.first_name }} {{ current_user.last_name }}</h1>
                    <p class="profile-username">@{{ current_user.username }}</p>
                </div>
            </div>
        </div>

        <div class="profile-main-content">
            <!-- Tab Navigation -->
            <div class="profile-tabs">
                <button class="tab-button active" onclick="openTab(event, 'personal-info')">Лична информация</button>
                <button class="tab-button" onclick="openTab(event, 'manager')">Мениджър Авто парк</button>
            </div>

            <!-- Tab Content -->
            <div id="personal-info" class="tab-content active-tab">
                <div class="profile-info-section">
                    <h2 class="section-title">Лична информация</h2>
                    <div class="profile-details-box">
                        <p class="profile-detail-item"><strong>Email:</strong> {{ current_user.email }}</p>
                        <p class="profile-detail-item"><strong>Дата на
                            регистрация:</strong> {{ current_user.date_joined }}</p>
                        <p class="profile-detail-item"><strong>Последно активен:</strong> {{ current_user.last_login }}
                        </p>
                    </div>
                </div>
                <div class="profile-action-buttons">
                    <a href="{% url 'edit-profile-page' %}" class="profile-btn-edit">Редактирай профила</a>
                </div>
            </div>

            <div id="manager" class="tab-content">
                <h2 class="section-title">Мениджър авто парк</h2>
                <form id="email-form">
                    {% csrf_token %}
                    <div class="email-form">
                        <input type="email" id="email-input" class="form-control" placeholder="Въведете имейл" required>
                        <button type="button" class="btn btn-primary" onclick="sendEmail()">Изпрати доклад</button>
                    </div>
                </form>
                <div id="success-message" class="success-message hidden">Имейлът беше изпратен успешно!</div>
            </div>

        </div>
    </div>

    {% include 'footer.html' %}
    <script src="{% static 'js/profilePage.js' %}"></script>
    <script src="{% static 'js/sendTestEmailFunctionAction.js' %}"></script>
    </body>
{% endblock %}