{% extends 'base.html' %}
{% load static %}
{% block content %}
    <body>
    {% include 'nav.html' %}

    <div class="edit-vehicle-page">
        <h1 class="edit-vehicle-title">Редактиране на информацията</h1>

        <form method="POST" action="{% url 'edit-information' vehicle_full_details.pk %}" class="edit-vehicle-form">
            {% csrf_token %}

            <div class="tab-container">
                <ul class="tab-menu">
                    <li class="tab-item active" data-tab="basic-info">Основна информация</li>
                    <li class="tab-item" data-tab="additional-info">Допълнителна информация</li>
                </ul>

                <div class="tab-content-unique">
                    <!-- Основна информация -->
                    <div class="tab-panel-unique active" id="basic-info-unique">
                        <fieldset class="fieldset-basic-info-unique">

                            <div class="form-row-basic-info-unique">
                                <div class="form-group-basic-info-unique">
                                    <strong class="label-type-unique">Тип:</strong> {{ form.type }}
                                </div>
                                <div class="form-group-basic-info-unique">
                                    <strong class="label-brand-unique">Марка:</strong> {{ form.brand }}
                                </div>
                            </div>
                            <div class="form-row-basic-info-unique">
                                <div class="form-group-basic-info-unique">
                                    <strong class="label-model-unique">Модел:</strong> {{ form.model }}
                                </div>
                                <div class="form-group-basic-info-unique">
                                    <strong class="label-register-number-unique">Рег.
                                        №:</strong> {{ form.register_number }}
                                    {% if form.register_number.errors %}
                                        <ul class="error-list-register-number-unique">
                                            {% for error in form.register_number.errors %}
                                                <li class="error-item-register-number-unique"
                                                    style="color: red;">{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-row-basic-info-unique">
                                <div class="form-group-basic-info-unique">
                                    <strong class="label-condition-unique">Статус:</strong> {{ form.condition }}
                                </div>
                                <div class="form-group-basic-info-unique">
                                    <strong class="label-adr-unique">АДР:</strong> {{ form.adr }}
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!-- Допълнителна информация -->
                    <div class="tab-panel-unique" id="additional-info-unique">
                        <fieldset class="fieldset-additional-info-unique">

                            <div class="vehicle-details-sections-container-unique">
                                <!-- Секция за АДР Оборудване -->
                                <div class="vehicle-details-choices-section-adr-unique">
                                    <h3 class="choices-section-title-adr-unique">АДР Оборудване</h3><br>
                                    <div class="vehicle-details-choices-grid-adr-unique">
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.wheel_chock.label_tag }}
                                            {{ form_2.wheel_chock }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.two_warning_signs.label_tag }}
                                            {{ form_2.two_warning_signs }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.eye_wash_liquid.label_tag }}
                                            {{ form_2.eye_wash_liquid }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.reflective_vest.label_tag }}
                                            {{ form_2.reflective_vest }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.portable_lighting_fixture.label_tag }}
                                            {{ form_2.portable_lighting_fixture }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.a_pair_of_protective_gloves.label_tag }}
                                            {{ form_2.a_pair_of_protective_gloves }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.eye_protection.label_tag }}
                                            {{ form_2.eye_protection }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.mask.label_tag }}
                                            {{ form_2.mask }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.shovel.label_tag }}
                                            {{ form_2.shovel }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.manhole_cover.label_tag }}
                                            {{ form_2.manhole_cover }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.collection_container.label_tag }}
                                            {{ form_2.collection_container }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.written_instructions_colored.label_tag }}
                                            {{ form_2.written_instructions_colored }}
                                        </div>
                                        <div class="vehicle-details-grid-item-adr-unique">
                                            {{ form_2.fire_extinguishers.label_tag }}
                                            {{ form_2.fire_extinguishers }}
                                        </div>
                                    </div>
                                </div>

                                <!-- Секция за Валидност на документите -->
                                <div class="vehicle-details-dates-section-docs-unique">
                                    <h3 class="dates-section-title-docs-unique">Валидност на документите</h3><br>
                                    <div class="vehicle-details-grid-item-docs-unique">
                                        {{ form_2.insurance_civil_liability.label_tag }}
                                        <div class="input-with-icon-docs-unique">
                                            {{ form_2.insurance_civil_liability }}
                                            <i class="fas fa-calendar-alt calendar-icon-docs-unique"></i>
                                        </div>
                                    </div>
                                    <div class="vehicle-details-grid-item-docs-unique">
                                        {{ form_2.insurance_casco_validity.label_tag }}
                                        <div class="input-with-icon-docs-unique">
                                            {{ form_2.insurance_casco_validity }}
                                            <i class="fas fa-calendar-alt calendar-icon-docs-unique"></i>
                                        </div>
                                    </div>
                                    <div class="vehicle-details-grid-item-docs-unique">
                                        {{ form_2.tachograph_validity.label_tag }}
                                        <div class="input-with-icon-docs-unique">
                                            {{ form_2.tachograph_validity }}
                                            <i class="fas fa-calendar-alt calendar-icon-docs-unique"></i>
                                        </div>
                                    </div>
                                    <div class="vehicle-details-grid-item-docs-unique">
                                        {{ form_2.adr_validity.label_tag }}
                                        <div class="input-with-icon-docs-unique">
                                            {{ form_2.adr_validity }}
                                            <i class="fas fa-calendar-alt calendar-icon-docs-unique"></i>
                                        </div>
                                    </div>
                                    <div class="vehicle-details-grid-item-docs-unique">
                                        {{ form_2.fitness_protocol_validity.label_tag }}
                                        <div class="input-with-icon-docs-unique">
                                            {{ form_2.fitness_protocol_validity }}
                                            <i class="fas fa-calendar-alt calendar-icon-docs-unique"></i>
                                        </div>
                                    </div>
                                    <div class="vehicle-details-grid-item-docs-unique">
                                        {{ form_2.technical_check_validity.label_tag }}
                                        <div class="input-with-icon-docs-unique">
                                            {{ form_2.technical_check_validity }}
                                            <i class="fas fa-calendar-alt calendar-icon-docs-unique"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="edit-vehicle-actions">
                    <button type="submit" class="edit-vehicle-btn-submit">Запази промените&nbsp;<i
                            class="fas fa-save"></i></button>
                </div>
            </div>
        </form>
    </div>

    {% include 'footer.html' %}
    </body>
    <script src="{% static 'js/editFullInformation.js' %}"></script>
    <script src="{% static 'js/calendar.js' %}"></script>
{% endblock %}